@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
    --theme-color: rgb(255, 50, 50);
    --bg-color: #2D253A;
    --secondary-color: #FFF48A;
}


body {
    padding:0px;
    margin:0px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://i.pinimg.com/originals/d9/de/4c/d9de4c70efc02d4bfd00ec5a61b80b66.jpg") center center;
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
}
a, a:visited, a:hover {
    color: cyan;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--bg-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    border-bottom:12px solid var(--bg-color);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:var(--bg-color);
}
.box2 {
    background:var(--bg-color);
    margin-left:-5px;
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#fff;
    text-decoration:underline;
}
#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}
#middle h1 {
    color:var(--theme-color);
    font-size:70px;
    text-decoration:underline;
}
#about {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(-90deg);
    background:transparent;
    color:#fff;
    position:fixed;
    left:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#work {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    background:transparent;
    color:#fff;
    position:fixed;
    right:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#contact {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    background:transparent;
    color:#fff;
    position:fixed;
    bottom:0;
    left:45vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}
#about:hover {
    background:rgba(45,37,58,0.9);
    cursor:pointer;
}
#work:hover {
    background:rgba(45,37,58,0.9);
    cursor:pointer;
}
#contact:hover {
    background:rgba(45,37,58,0.9);
    cursor:pointer;
}
#middle table {
    margin:6vh auto;
}
#middle table tr td {
    text-align:center;
}
.social {
    color:#fff!important;
    font-size:32px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    color:var(--secondary-color)!important;
}
.container {
    width:90vw;
    height:90vh;
    padding:5vh 5vw;
    background:var(--bg-color);
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display:none;
}
.container div {
    font-size:25px;
    transition:0.4s ease-in-out;
}
.container div:hover {
    cursor:pointer;
}
.container section {
    margin:8vh 20px;
}
.container h1 {
    color: var(--theme-color);
}
.container section h2 {
    color: var(--secondary-color);
}
#used {
    margin-bottom: 24px;
}
#used div {
    font-size:12px !important;
    display:inline-block;
    padding:8px 10px;
    border:1px solid #fff;
    border-radius:50px;
    margin: 5px 10px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.container h1 {
    font-size:60px;
    text-decoration:underline;
    margin-bottom: 0;
}
.container p {
    font-size:21px;
}
.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff!important;
    background:transparent;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    transition:0.4s ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0;
}
.btn_one:hover {
    cursor:pointer;
    color:var(--bg-color);
    background:#fff;
}
.btn_two {
    font-size:18px;
    display: inline-block;
    margin: 8px 0;
    font-family: 'Josefin Sans', sans-serif;
    color:var(--bg-color)!important;
    background:#fff!important;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    text-decoration: none;
    transition:0.4s ease-in-out;
}
.btn_two:hover {
    cursor:pointer;
    padding:8px 60px;
}

::placeholder {
    color:#fff;
}
#footer {
    color:#fff;
    width:92vw;
    padding:5vh 4vw;
    text-align:right;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:16px;
    font-weight:bold;
}
#footer a {
    color:--theme-color;
}

.slideInUp {
    animation-timing-function: ease-in-out;
}

.works-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.works-container img {
    max-width: 100%;
}

#particles-js {
    position:fixed;
    width:100vw;
    height:100vh;
}
::-webkit-scrollbar {
    display: none;
}

.smalltext {
    font-size: 16px!important;
}

@media (max-width: 1280px) {
    .works-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 800px) { 
    #about {
        display:none;
    }
    #contact {
        display:none;
    }
    #work {
        display:none;
    }
    #footer {
        text-align:center;
    }
    #middle {
        width:90vw;
        padding:0px 5vw;
    }
    .container form input {
        width:90%;
    }
    .container form textarea {
        width:90%;
    }
    #menu {
        display:inline-block;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}